/*----------------------------------MAIN CONTACTO----------------------------------*/
main{
    width: 100%;
    height: auto;
    background-color: map-get($colores, color-fondo);
    .call-contacto {
        padding: 60px;
        width: 100%;
        height: auto; 
        h2 {
            color: black;
        } 
        p {
            @include texto (black, 20px, center, normal, none);
        }
    }
    .conteiner_contacto {
        margin-bottom: 25px;
        padding: 25px;
        width: 100%;
        height: auto;
        background-color: rgb(36, 36, 36);
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        .formulario{
            width: 100%;
            text-align: center;
            h3{
                text-align: center;
                color: #ddd;
            }
            form{
                padding: 20px;
                border: 2px solid #ddd;
                .form-contacto{
                    width: 100%;
                    padding: 4px;
                }
                .submit-contacto{
                    padding: 4px 12px;
                    margin: 12px;
                    transition-duration: .5s;
                    &:hover{
                        background-color: rgba(54, 129, 228, 0.822);
                        transform: scale(1.1);
                    }
                }
                .reset-contacto{
                    @extend .submit-contacto;
                }
            }
        }
        .mapa{
            margin: 0 auto;
            .mapa-mardel{
            overflow: hidden;
            width: 100%;
            height: 30vh;
            margin-top: 20px;
            @include flex (flex, none, center, none);
            }
            .info{
                .ubi{
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    i{
                        color: #ddd;
                        font-size: 20px;
                    }
                    p{
                        color: #ddd;
                        font-size: $tamaño-texto;
                    }
                }
                .mail-bkn{
                    @extend .ubi;
                    i{
                        color: #ddd;
                        font-size: 20px;
                    }
                    p{
                        color: #ddd;
                        font-size: $tamaño-texto;
                    }
                }
                
            }
        }
    }
}




