/* MEDIA QUARIES */
@media only screen and (min-width:360px) {

    footer {
        .iconos {
            width: auto;
            display: grid;
            grid-template-columns: 45% auto 45%;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "texto texto texto"
            "twi instagram face";
            justify-items: center;
            .texto-footer{
                grid-area: texto;
                font-size: 18px;
            }
            .twi{
                grid-area: twi;
                justify-self: end;
            } 
            .instagram{
                grid-area: instagram;
            }
            .face{
                grid-area: face;
                justify-self: start;
            }
        }
    }
    


    /* GALERIA */
    main {
        .galeria {
            .item {
                height: 500px;
            }
        }
    }
    
    /*MAIN TIENDA*/
    .cards-ropa{
        .ropa-venta{
            width: 160px;
            .producto{
                width: 140px;
            }
        }
    }
}



@media only screen and (min-width:600px) {

    .barra {
        ul {
            li {
                a {
                    padding: 30px;
                    font-size: 16px;
                }
            }
        }
    }

    .conteiner {
        padding: 80px;
    }

    /* TIENDA */
    .cards-ropa {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        .ropa-venta {
            width: 180px;
            .producto{
                width: 160px;
            }
        }
    }

    
    /* FOOTER */
    footer {
        .iconos {
            p {
                font-size: 20px;
            }
            a {
                i{
                    font-size: 35px;
                }
            }
        }
    }
}



@media only screen and (min-width:750px){
    main {
        .call{
            p{
                font-size: 18px;
            }
        }
        .galeria{
            width:100%;
            height: auto;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;   
            grid-template-rows: repeat (3, 500px);
            grid-template-areas: 
            "gal1 gal2"
            "gal3 gal4"
            "gal5 gal6 ";
            .item {
                /* width: 100%; */
                height: 400px;
                border: 5px solid black;
                border-radius: 15px;
                }
            }
    }
    

    /*MAIN NOSOTROS*/
    main{
        .p-nos{
            padding: 20px 120px 20px 120px;
        }
    }


    /*MAIN CONTACTO*/
    .main_contacto{
        .conteiner_contacto{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            .formulario{
                width: 100%;
            }
            .mapa{
            overflow: none;
            width: 100%;
            height: 50vh;
            display: flex;
            align-self: center;
        }
        .info{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-evenly;
            .tel-bkn{
                display: flex;
                gap: 10px;
                i{
                    font-size: 25px;
                    color: black;
                }
                p{
                    font-size: 16px;
                    color: black;
                }
            }
            .mail-bkn{
                display: flex;
                gap: 10px;
                i{
                    font-size: 25px;
                    color: black;
                }
                p{
                    font-size: 16px;
                    color: black;
                }
            }
            .location{
                display: flex;
                gap: 10px;
                i{
                    font-size: 25px;
                    color: black;
                }
                p{
                    font-size: 16px;
                    color: black;
                }
            }
        }
    } 
}
}
    


@media only screen and (min-width: 1024px) {
    main {
        .galeria{
            width:100%;
            height: auto;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;    
            grid-template-rows: repeat (2, 500px);
            grid-template-areas: 
            "gal1 gal2 gal3"
            "gal4 gal5 gal6";
            }
    }



    /*MAIN CONTACTO*/
    .main_contacto{
        .conteiner_contacto{
            .formulario{
                margin-left: -140px;
            }
        }
    }



    /* FOOTER */
    footer {
        .iconos {
            .texto-footer {
                font-size: 20px;
            }
            a {
                i{
                    font-size: 35px;
                }
            }
        }
    }
}